<nb-layout class="">
  <nb-layout-header fixed>
    <div class="col-3">
      <a routerLink="/home" class="equiio_title">{{title}}</a>
    </div>
    <div class="col-8 offset-1">
      <nb-actions *ngIf="tokenValid" size="medium" class="d-flex flex-row-reverse">
        <nb-action class="p-0"><!-- Fixing nebular --></nb-action>
        <nb-action icon="log-out-outline" (click)="logout()" icon-color="#222b45"></nb-action>
        <nb-action><a routerLink="/user">Mon compte</a></nb-action>
        <!-- User views -->
        <nb-action *ngIf="this.userRole === Roles.User">M'inscrire à une leçon</nb-action>

        <!-- User and Teacher views -->
        <nb-action *ngIf="this.userRole === Roles.Teacher || this.userRole === Roles.User"><a routerLink="/lessons">Mes leçons</a></nb-action>

        <!-- Admin views -->
        <nb-action *ngIf="this.userRole === Roles.Admin"><a routerLink="/users">Gestion des utilisateurs</a></nb-action>
        <nb-action *ngIf="this.userRole === Roles.Admin"><a routerLink="/horses">Gestion des chevaux</a></nb-action>
      </nb-actions>

      <nb-actions *ngIf="!tokenValid" size="medium" class="d-flex flex-row-reverse">
        <nb-action>
          <nb-action><a routerLink="/auth/login">Connexion</a></nb-action>
        </nb-action>
      </nb-actions>
    </div>
  </nb-layout-header>
  <nb-layout-column class="m-0 p-0 equiio_content fill">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
