<div class="m-0 row justify-content-center">
  <h2>Gestion des chevaux</h2>
</div>
<div class="m-0 row">
  <button nbButton class="offset-11" shape="round" status="primary" (click)="openAddHorseModal()"><nb-icon icon="plus"></nb-icon></button>
</div>
<div class="m-0 justify-content-center">
  <div class="offset-2"></div>
  <div class="row col-8 justify-content-center offset-2">
    <nb-card [nbSpinner]="isLoading" *ngIf="isLoading" class="col-lg-8">
      <nb-card-body>Chargement</nb-card-body>
    </nb-card>
    <div *ngFor="let horse of this.horses; let i = index" class="d-flex justify-content-start flex-wrap">
      <nb-card class="horse mr-3 mb-3">
        <nb-card-header class="row">
          <nb-user *ngIf="horse.picture" class="col-lg-8" name="{{horse.name}}" title="{{horse.height}}" picture="{{horse.picture}}"></nb-user>
          <nb-user *ngIf="!horse.picture" class="col-lg-8" name="{{horse.name}}" title="{{horse.height}}" picture="https://www.logiciel-equicentre.fr/isiline/uploads/2016/02/isiline-icone-cheval.png"></nb-user>
          <div class="col-lg-4 text-right">
            <button nbButton status="primary" shape="round" size="small" (click)="openAddHorseModal(horse)"
                    nbTooltip="Modifier le cheval" nbTooltipPlacement="left" nbTooltipStatus="primary">
              <nb-icon icon="edit-outline"></nb-icon>
            </button>
          </div>
        </nb-card-header>
        <nb-card-body>
          {{horse.description}}
        </nb-card-body>
        <nb-card-footer>
          <div class="row justify-content-center">
            <button nbButton *ngIf="!this.deleteMode[i]" shape="round" status="danger"
                    nbTooltip="Supprimer le cheval" nbTooltipPlacement="left" nbTooltipStatus="danger">
              <nb-icon icon="trash-2-outline" (click)="toggleDeleteMode(i)"></nb-icon>
            </button>
            <button nbButton *ngIf="this.deleteMode[i]" shape="round" status="success"
                    nbTooltip="Confirmer la suppression" nbTooltipPlacement="left" nbTooltipStatus="success">
              <nb-icon icon="checkmark-outline" (click)="deleteHorse(horse)"></nb-icon>
            </button>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
</div>
