<nb-card>
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Connexion">
        <label for="login_email" class="label-margin">Email<sup>*</sup></label>
        <input type="text" nbInput fullWidth class="input-margin" name="login_email" id="login_email" placeholder="Email">
        <label for="login_password" class="label-margin">Mot de passe<sup>*</sup></label>
        <input type="password" nbInput fullWidth class="input-margin" name="login_password" id="login_password" placeholder="Mot de passe">
        <button nbButton fullWidth status="primary" size="medium">Se connecter</button>
      </nb-tab>
      <nb-tab tabTitle="Inscription">
        <label for="reg_firstname" class="label-margin">Prénom et Nom<sup>*</sup></label>
        <input type="text" nbInput fullWidth class="input-margin col-5" name="reg_firstname" id="reg_firstname" placeholder="Prénom">
        <input type="text" nbInput fullWidth class="input-margin col-6 offset-1" name="reg_lastname" id="reg_lastname" placeholder="Nom">
        <label for="reg_email" class="label-margin">Email<sup>*</sup></label>
        <input type="text" nbInput fullWidth class="input-margin" name="reg_email" id="reg_email" placeholder="Email">
        <label for="reg_tel" class="label-margin">Tel<sup>*</sup></label>
        <input type="tel" nbInput fullWidth class="input-margin" name="reg_tel" id="reg_tel" placeholder="Téléphone">
        <label for="reg_licence" class="label-margin">Numéro de licence</label>
        <input type="text" nbInput fullWidth class="input-margin" name="reg_licence" id="reg_licence" placeholder="Numéro de licence">
        <label for="reg_password" class="label-margin">Mot de passe<sup>*</sup></label>
        <input type="password" nbInput fullWidth class="input-margin" name="reg_password" id="reg_password" placeholder="Mot de passe">
        <label for="reg_password_confirm" class="label-margin">Mot de passe (Confirmation)<sup>*</sup></label>
        <input type="password" nbInput fullWidth class="input-margin" name="reg_password_confirm" id="reg_password_confirm" placeholder="Confirmation Mot de passe">
        <button nbButton fullWidth status="primary" size="medium">S'inscrire</button>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
