<div class="row d-flex justify-content-center text-center header bg-horse4">
  <h2 class="large-title col-12 mb-0">Equi.io</h2>
  <div class="col-12">Le site du centre équestre Equi</div>
  <div class="row mt-4 mb-2">
    <button nbButton status="primary" size="large" (click)="redirectContact()">Nous contacter</button>
  </div>
</div>
<div class="row d-flex justify-content-center text-center">
  <div class="col-4">
    <h4>Nos tarifs</h4>
  </div>
  <div class="col-4 bg-darker">
    <h4>Notre philosophie</h4>
  </div>
  <div class="col-4">
    <h4>Nos horaires</h4>
  </div>
</div>
