<div class="m-0 row d-flex justify-content-center text-center header bg-horse4">
  <h2 class="large-title col-12 mb-0">Equi.io</h2>
  <div class="col-12">Le site du centre équestre Equi</div>
  <div class="row mt-4 mb-2">
    <button nbButton status="primary" size="large" (click)="redirectContact()">Nous contacter</button>
  </div>
</div>
<div class="m-0 row d-flex justify-content-center text-center">
  <div class="col-4">
    <h4 class="mb-4">Nos tarifs</h4>
    <h6 class="mb-0 mt-3">Forfait (25 scéances)</h6>
    <div>
      Plat : 506 €<br/>
      Obstacle : 558 €<br/>
      A pied / A cheval : 835 €<br/>
    </div>
    <h6 class="mb-0 mt-3">Scéances</h6>
    <div>
      Plat : 22 €<br/>
      Obstacle : 25 €<br/>
      A pied / A cheval : 35 €<br/>
      Particulière : 80 €<br/>
    </div>
    <h6 class="mb-0 mt-3">Stages et animations</h6>
    <div>
      Découverte : 52 €<br/>
      Nocturne : 75 €<br/>
      Animation : 40 €<br/>
      Stage à thème : 30 €<br/>
      Stage plat : 53 €<br/>
      Stage obstacle : 60 €<br/>
      Anniversaire (8-10 personnes) : 520 €<br/>
    </div>
  </div>
  <div class="col-4 bg-darker philosophy">
    <h4 class="mb-4">Notre philosophie</h4>
    <p class="text-justify px-4">
      Le centre équestre Equi est le <b>meilleur centre de France</b>, de par sa renommée et sa gestion par d'anciens élèves du centre.<br/>
      Sa vocation est de permettre à tous de monter à cheval ou à poney et progresser au rythme qui lui convient le mieux.
      Le centre englobe toutes les phases de l'initiation jusqu'à la compétition (<i>dressage, obstacle, voltige, travail à pied, attelage, ...</i>).
    </p>
    <p class="text-justify px-4">
      Le <b>bien-être de nos chevaux</b> est un des points d'attention principal du centre, et nous faisons en sorte de leurs accorder les meilleurs soins tout au long de leurs vie,
      que ce soit durant leurs carrière ou lors de leurs retraite via le programme financé par nos adhérants.
    </p>
    <p class="text-justify px-4">
      Le centre évolue avant tout dans <b>le respect</b> de nos chevaux et de nos adhérants, dans une ambiance conviviale et familiale.
    </p>
    <img alt="Equi icon" class="mt-1 mb-5" src="../../assets/img/horse_icon.svg"/>
  </div>
  <div class="col-4">
    <h4 class="mb-4">Nos horaires</h4>
    <h6 class="mb-0 mt-3">Lundi</h6>
    <div>Ouvert : 14h00 - 18h30</div>
    <h6 class="mb-0 mt-3">Mardi / Mercredi / Jeudi</h6>
    <div>Ouvert : 9h30 - 19h30</div>
    <div>Nocturne : 20h30 - 22h00</div>
    <h6 class="mb-0 mt-3">Vendredi</h6>
    <div>Ouvert : 10h00 - 18h30</div>
    <h6 class="mb-0 mt-3">Samedi / Dimanche</h6>
    <div>Ouvert : 9h00 - 19h30</div>
    <h6 class="mb-0 mt-3">Vacances / Jours fériés</h6>
    <div>Ouvert : 14h00 - 17h30</div>
  </div>
</div>
